<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>健康体检表</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="../../../static/assets/adaptive/adaptive-version2.js"></script>
  <script>
    // 设计图宽度
    window['adaptive'].desinWidth = 750;
    // body 字体大小 会将body字体大小设置为 baseFont / 100 + 'rem'
    window['adaptive'].baseFont = 28;
    window['adaptive'].maxWidth = 750;
    window['adaptive'].init();
  </script>
  <link rel="stylesheet" href="../css/dist.css">
</head>
<body class="bgColor">
<div class="container">
  <div class="item clearfix">
    <div class="pull-left">姓名</div>
    <div class="pull-right">白起</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">编号</div>
    <div class="pull-right">85529654325</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">体检日期</div>
    <div class="pull-right">2017-09-06</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">责任医生</div>
    <div class="pull-right">8855122-259-222</div>
  </div>
</div>

<div class="container">
  <div class="item bgColor">
    <div class="sub-title">
      内容与检查项目
    </div>
  </div>
</div>

<div>
  <div class="container flex horizental">
    <div class="item flex align-center w230">
      <div>症状</div>
    </div>
    <div class="container border-bottom">
      <div class="item clearfix">
        <ul class="pull-right list">
          <li class="text-right">头晕</li>
          <li class="text-right">心悸</li>
          <li class="text-right">胸闷</li>
          <li class="text-right">呼吸困难</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container flex horizental">
    <div class="item flex align-center justify-center border-right w100">
      <div>一般状况</div>
    </div>
    <div class="container border-bottom">
      <div class="item clearfix">
        <div class="pull-left">体温(℃)</div>
        <div class="pull-right">38℃</div>
      </div>
      <div class="item clearfix">
        <div class="pull-left">脉率(次/分钟)</div>
        <div class="pull-right">50次/分钟</div>
      </div>
      <div class="item clearfix">
        <div class="pull-left">呼吸频率(次/分钟)</div>
        <div class="pull-right">30次/分钟</div>
      </div>
      <div class="container flex horizental">
        <div class="item flex align-center w230">
          <div>血压(mmHg)</div>
        </div>
        <div class="container border-bottom">
          <div class="item">
            <div class="text-right">左侧:30/60</div>
            <div class="text-right">右侧:300/600</div>
          </div>
        </div>
      </div>
      <div class="item clearfix">
        <div class="pull-left">身高(cm)</div>
        <div class="pull-right">155cm</div>
      </div>
      <div class="item clearfix">
        <div class="pull-left">体重(Kg)</div>
        <div class="pull-right">155cm</div>
      </div>
      <div class="item clearfix">
        <div class="pull-left">腰围(cm)</div>
        <div class="pull-right">88cm</div>
      </div>
      <div class="item clearfix">
        <div class="pull-left">体质指数(BMI)(Kg/m2)</div>
        <div class="pull-right">33333</div>
      </div>
      <div class="item clearfix">
        <div class="pull-left">老年人健康状态自我评估*</div>
        <div class="pull-right">中度依赖(9～18 分)</div>
      </div>
      <div class="item clearfix">
        <div class="pull-left">老年人生活自理能力自我评估*</div>
        <div class="pull-right">可自理(9～3 分)</div>
      </div>
      <div class="item clearfix">
        <div class="pull-left">老年人认知功能*</div>
        <div class="pull-right">粗筛阴性</div>
      </div>
      <div class="item clearfix">
        <div class="pull-left">老年人情感状态*</div>
        <div class="pull-right">粗筛阴性</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>生活方式</div>
      </div>
      <div class="container border-bottom">
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>体育锻炼</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">锻炼频率</div>
              <div class="pull-right">每天</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">每次锻炼时间</div>
              <div class="pull-right">每天</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">坚持锻炼时间</div>
              <div class="pull-right">2年</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">锻炼方式</div>
              <div class="pull-right">每天</div>
            </div>
          </div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">饮食习惯</div>
          <div class="pull-right">荤素均衡</div>
        </div>
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>饮酒情况</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">饮酒频率</div>
              <div class="pull-right">从不</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">日饮酒量</div>
              <div class="pull-right">2两/天</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">是否戒酒</div>
              <div class="pull-right">未戒酒</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">开始饮酒年龄</div>
              <div class="pull-right">28岁</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">近一年内是否曾醉酒</div>
              <div class="pull-right">是</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">饮酒种类</div>
              <div class="pull-right">白酒</div>
            </div>
          </div>
        </div>
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right bgWhite w230">
            <div>职业病危害因素接触史</div>
          </div>
          <div class="container">
            <div class="item clearfix">
              <div class="pull-left">
                <div>有,</div>
                <div>工种粉尘,</div>
                <div>从业时间2017-09-06</div>
              </div>
              <div class="pull-right"></div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">粉尘</div>
              <div class="pull-right">******</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">防护措施:</div>
              <div class="pull-right">无</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>脏器功能</div>
      </div>
      <div class="container border-bottom">
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>口腔</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">口唇</div>
              <div class="pull-right">红润</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">齿列</div>
              <div class="pull-right">正常</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">咽部</div>
              <div class="pull-right">无充血</div>
            </div>
          </div>
        </div>
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>视力</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left"></div>
              <div class="pull-right">左眼：5.5/右眼：5.5</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">矫正视力</div>
              <div class="pull-right">左眼：5.5/右眼：5.5</div>
            </div>
          </div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">听力</div>
          <div class="pull-right">听不清或无法听见</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">运动功能</div>
          <div class="pull-right">可顺利完成</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>查体</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">眼底*</div>
          <div class="pull-right">正常</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">皮肤</div>
          <div class="pull-right">正常</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">巩膜</div>
          <div class="pull-right">正常</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">淋巴结</div>
          <div class="pull-right">正常</div>
        </div>
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>肺</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">桶状胸</div>
              <div class="pull-right">是</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">呼吸音</div>
              <div class="pull-right">异常</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">罗音</div>
              <div class="pull-right">干罗音</div>
            </div>
          </div>
        </div>
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>心脏</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">心率</div>
              <div class="pull-right">30次/分钟</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">心律</div>
              <div class="pull-right">齐</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">杂音</div>
              <div class="pull-right">有</div>
            </div>
          </div>
        </div>
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>腹部</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">压痛</div>
              <div class="pull-right">有</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">包块</div>
              <div class="pull-right">有</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">肝大</div>
              <div class="pull-right">有</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">脾大</div>
              <div class="pull-right">有</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">移动性浊音</div>
              <div class="pull-right">有</div>
            </div>
          </div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">下肢水肿</div>
          <div class="pull-right">单侧</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">足背动脉搏动*</div>
          <div class="pull-right">未触及</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">肛门指诊*</div>
          <div class="pull-right">未及异常</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">乳腺*</div>
          <div class="pull-right">未见异常</div>
        </div>
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>妇科*</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">外阴</div>
              <div class="pull-right">未见异常</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">阴道</div>
              <div class="pull-right">未见异常</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">宫颈</div>
              <div class="pull-right">未见异常</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">宫体</div>
              <div class="pull-right">未见异常</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">附件</div>
              <div class="pull-right">未见异常</div>
            </div>
          </div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">其他*</div>
          <div class="pull-right">单侧</div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>辅助检查</div>
      </div>
      <div class="container border-bottom">
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>血常规*</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">血红蛋白</div>
              <div class="pull-right">222g/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">白细胞</div>
              <div class="pull-right">1111×10 9/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">血小板</div>
              <div class="pull-right">5555×10 9/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">其他</div>
              <div class="pull-right"></div>
            </div>
          </div>
        </div>
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>尿常规*</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">尿蛋白</div>
              <div class="pull-right">有</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">尿糖</div>
              <div class="pull-right">有</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">尿酮体</div>
              <div class="pull-right">有</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">尿潜血</div>
              <div class="pull-right">有</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">其他</div>
              <div class="pull-right">有</div>
            </div>
          </div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">空腹血糖*</div>
          <div class="pull-right">222mmol/L</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">心电图*</div>
          <div class="pull-right">未见异常</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">尿微量白蛋白*</div>
          <div class="pull-right">2222mg/dL</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">大便潜血*</div>
          <div class="pull-right">阴性</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">糖化血红蛋白*</div>
          <div class="pull-right">50%</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">乙型肝炎表面抗原*</div>
          <div class="pull-right">阴性</div>
        </div>
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>肝功能*</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">血清谷丙转氨酶</div>
              <div class="pull-right">200U/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">血清谷草转氨酶</div>
              <div class="pull-right">200U/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">白蛋白</div>
              <div class="pull-right">g/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">总胆红素</div>
              <div class="pull-right">有</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">结合胆红素</div>
              <div class="pull-right">μmol/L</div>
            </div>
          </div>
        </div>
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>肾功能*</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">血清肌酐</div>
              <div class="pull-right">200U/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">血尿素氮</div>
              <div class="pull-right">200U/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">血钾浓度</div>
              <div class="pull-right">g/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">血钠浓度</div>
              <div class="pull-right">有</div>
            </div>
          </div>
        </div>
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>血脂*</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">总胆固醇</div>
              <div class="pull-right">200U/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">甘油三酯</div>
              <div class="pull-right">200U/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">血清低密度脂蛋白胆固醇</div>
              <div class="pull-right">g/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">血清低密度脂蛋白胆固醇</div>
              <div class="pull-right">有</div>
            </div>
          </div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">胸部 X 线片*</div>
          <div class="pull-right">正常</div>
        </div>
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right border-bottom bgWhite w230">
            <div>B超</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">腹部 B超</div>
              <div class="pull-right">正常</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">其他*</div>
              <div class="pull-right">异常</div>
            </div>
          </div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">宫颈涂片*</div>
          <div class="pull-right">正常</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">其 他*</div>
          <div class="pull-right">正常</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>中医体质辨识*</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">平和质</div>
          <div class="pull-right">是</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">气虚质</div>
          <div class="pull-right">是</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">阳虚质</div>
          <div class="pull-right">是</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">痰湿质</div>
          <div class="pull-right">是</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">湿热质</div>
          <div class="pull-right">是</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">血瘀质</div>
          <div class="pull-right">是</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">气郁质</div>
          <div class="pull-right">是</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">特秉质</div>
          <div class="pull-right">是</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>现存主要健康问题</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">脑血管疾病</div>
          <div class="pull-right">短暂性脑缺血</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">肾脏疾病</div>
          <div class="pull-right">慢性肾炎</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">心脏疾病</div>
          <div class="pull-right">充血性心力衰竭</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">血管疾病</div>
          <div class="pull-right">夹层动脉瘤</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">眼部疾病</div>
          <div class="pull-right">未发现</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">神经系统疾病</div>
          <div class="pull-right">未发现</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">其他系统疾病</div>
          <div class="pull-right">未发现</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>住院治疗情况</div>
      </div>
      <div class="container border-bottom">
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-bottom border-right bgWhite w230">
            <div>住院史</div>
          </div>
          <div class="container border-bottom">
            <div class="item clearfix">
              <div class="pull-left">入院日期</div>
              <div class="pull-right">2017-09-05</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">出院日期</div>
              <div class="pull-right">2017-11-9</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">原因</div>
              <div class="pull-right">g/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">医疗机构名称</div>
              <div class="pull-right">*****</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">病案号</div>
              <div class="pull-right">2222554822113</div>
            </div>
          </div>
        </div>
        <div class="container flex horizental">
          <div class="flex vertical justify-center align-center border-right bgWhite w230">
            <div>家庭病床史</div>
          </div>
          <div class="container">
            <div class="item clearfix">
              <div class="pull-left">建床日期</div>
              <div class="pull-right">200U/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">撤床日期</div>
              <div class="pull-right">200U/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">原因</div>
              <div class="pull-right">g/L</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">医疗机构名称</div>
              <div class="pull-right">*****</div>
            </div>
            <div class="item clearfix">
              <div class="pull-left">病案号</div>
              <div class="pull-right">2222554822113</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>主要用药情况</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">药物名称</div>
          <div class="pull-right">****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">用法</div>
          <div class="pull-right">****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">用量</div>
          <div class="pull-right">***</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">用药时间</div>
          <div class="pull-right">***</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">服药依从性</div>
          <div class="pull-right">间断</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="flex align-center justify-center border-right w100 bgWhite border-bottom">
        <div>非免</div>
        <div>疫规</div>
        <div>划预</div>
        <div>防接</div>
        <div>种史</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">名称</div>
          <div class="pull-right">****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">接种日期</div>
          <div class="pull-right">2017-09-06</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">接种机构</div>
          <div class="pull-right">北大</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="flex align-center bgWhite justify-center border-right w100 border-bottom">
        <div>健康</div>
        <div>评价</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">有异常</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">异常1:</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>
  </div>

  <div class="item clearfix">
    <div class="pull-left">健康指导</div>
    <div class="pull-right">患者健康管理</div>
  </div>

  <div class="item clearfix">
    <div class="pull-left">危险因素控制</div>
    <div class="pull-right">健康饮酒</div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>内科常规检查</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">内科既往事</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">肺部听诊</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">心率</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">心律</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">心音</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">杂音</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">腹部触诊</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">神经系统</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">其他</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>外科常规检查</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">外科既往史</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">皮肤</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">浅表淋巴结</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">甲状腺</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">脊柱四肢</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">外生殖器</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">肛门</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">其他</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>眼科常规检查</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">眼科既往史</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">裸眼视力(右)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">裸眼视力(左)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">矫正视力(右)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">矫正视力(左)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">辨色力</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">眼睑</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">泪器</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">结膜</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">巩膜</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">眼球</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">其他</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>口腔科常规检查</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">口腔科既往史</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">牙周组织</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">牙体牙髓</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">错颌畸形</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">唇</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">舌</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">颌面部</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">其他</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>耳鼻喉科常规检查</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">耳鼻喉科既往史</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">听力</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">外耳</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">外耳道</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">鼓膜</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">外鼻</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">鼻腔</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">口咽部</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">其他</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>电解质</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">钾(K)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">钠(Na)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">氯(Cl)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">PH</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">标准钙(nCa)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">总钙(Tca)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">离子钙(iCa)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">锂(Li)</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="flex align-center justify-center border-right w100 bgWhite border-bottom">
        <div>肝功</div>
        <div>两项</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">丙氨酸氨基转移酶(ALT)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">天冬氨酸氨基转移酶(AST)</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>肾功三项</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">尿酸(UA)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">尿素(UREA)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">肌酐(Cr)</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>血常规</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">白细胞数目(WBC)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">淋巴细胞计数(LYMPHC)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">嗜碱性粒细胞计数(BASOC)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">单核细胞计数(MONOC)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">中性粒细胞计数(NEUTC)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">嗜酸性粒细胞计数(EOC)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">淋巴细胞比率(LYMPHR)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">嗜碱性粒细胞比率(BASOR)</div>
          <div class="pull-right">*****</div>
        </div>


        <div class="item clearfix">
          <div class="pull-left">单核细胞比率(MONOR)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">中性粒粒细胞比率(NEUTR)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">嗜酸性粒细胞比率(EOR)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">红细胞数目(RBC)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">血红蛋白(HGB)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">红细胞压积(HCT)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">平均红细胞体积(MCV)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">平均血红蛋白含量(MCH)</div>
          <div class="pull-right">*****</div>
        </div>

        <div class="item clearfix">
          <div class="pull-left">平均血红蛋白浓度(MCHC)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">红细胞分布宽度SD(RDW-SD)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">红细胞分布宽度CV(RDW-CV)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">血小板(PLT)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">血小板分布宽度(PDW)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">平均血小板体积(MPV)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">大血小板比率(P-LCR)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">血小板压积(PCT)</div>
          <div class="pull-right">*****</div>
        </div>

        <div class="item clearfix">
          <div class="pull-left">淋巴细胞数目(LYMC)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">中间细胞数目(MIDC)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">粒细胞数目(GRNC)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">淋巴细胞百分数(LYMR)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">中间细胞百分数(MIDR)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">粒细胞百分数(GRNR)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">混合细胞数目(OTHRC)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">混合细胞百分比(OTHRR)</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>乙肝五项</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">乙肝表面抗原(HBsAg)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">乙肝表面抗体(HBsAb)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">乙肝e抗原(HBeAg)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">乙肝e抗体(HBeAb)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">乙肝核心抗体(HBcAb)</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>肿瘤三项A</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">癌胚抗原(CEA)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">甲胎蛋白(AFP)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">EB病毒壳抗原IgA抗体(EB-VCA/IgA)</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>尿常规</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">尿蛋白(PRO)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">尿葡萄糖(GLU)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">尿pH</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">尿酮体(KET)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">尿胆红素(BIL)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">尿胆原(URO)</div>
          <div class="pull-right">*****</div>
        </div>

        <div class="item clearfix">
          <div class="pull-left">尿潜血(BLD)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">亚硝酸盐(NIT)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">尿白细胞(LEU)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">尿比重(SG)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">抗坏血酸(VC)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">肌酐(CRE)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">钙(Ca)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">微白蛋白(MA)</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container flex horizental">
      <div class="item flex align-center justify-center border-right w100">
        <div>尿常规</div>
      </div>
      <div class="container border-bottom">
        <div class="item clearfix">
          <div class="pull-left">γ-谷氨酰基转移酶(GGT)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">肌酐(Cre-P)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">总胆红素(T-Bil)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">尿素氮(UREA)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">丙氨酸氨基转移酶(ALT)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">直接胆红素(D-Bil)</div>
          <div class="pull-right">*****</div>
        </div>

        <div class="item clearfix">
          <div class="pull-left">高密度脂蛋白胆固醇(HDL-C)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">低密度脂蛋白胆固醇(LDL-C)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">天门冬氨酸氨基转移酶(AST)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">甘油三酯(TG)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">总蛋白(TP)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">白蛋白(ALB)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">总胆固醇(CHO)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">葡萄糖(GLU)</div>
          <div class="pull-right">*****</div>
        </div>

        <div class="item clearfix">
          <div class="pull-left">胆碱酯酶(CHE)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">总胆汁酸(TBA)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">肌酐 酶法(Cre-s)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">尿酸(UA)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">胱抑素C(Cys-C)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">乳酸脱氢酶(LDH)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">免疫球蛋白G(IgG)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">肌酸激酶(CK)</div>
          <div class="pull-right">*****</div>
        </div>

        <div class="item clearfix">
          <div class="pull-left">肌酸激酶同工酶(CK-MB)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">抗链球菌溶血素O(ASO)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">载脂蛋白A1(ApoA1)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">载脂蛋白B(ApoB)</div>
          <div class="pull-right"></div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">α-淀粉酶(AMY)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">钙(Ca)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">镁(Mg)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">二氧化碳(CO2)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">无机磷(IP)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">类风湿因子(RF)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">前白蛋白(PA)</div>
          <div class="pull-right">*****</div>
        </div>
        <div class="item clearfix">
          <div class="pull-left">腺苷脱氨酶(ADA)</div>
          <div class="pull-right">*****</div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="container flex horizental">
        <div class="item flex align-center justify-center border-right w100">
          <div>
            <div>CRP</div>
            <div>&</div>
            <div>POCT</div>
          </div>
        </div>
        <div class="container border-bottom">
          <div class="item clearfix">
            <div class="pull-left">降钙素原(PCT)</div>
            <div class="pull-right"></div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">C反应蛋白(CRP)</div>
            <div class="pull-right">*****</div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">尿微量白蛋白(mAlb)</div>
            <div class="pull-right">*****</div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">铁蛋白(SF)</div>
            <div class="pull-right"></div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">促甲状腺激素(TSH)</div>
            <div class="pull-right">*****</div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">妊娠(HCG)</div>
            <div class="pull-right">*****</div>
          </div>

          <div class="item clearfix">
            <div class="pull-left">排卵(LH)</div>
            <div class="pull-right"></div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">更年期(FSH)</div>
            <div class="pull-right">*****</div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">艾滋(HIV1+2)</div>
            <div class="pull-right">*****</div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">丙肝(HCV)</div>
            <div class="pull-right"></div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">抗坏血酸(VC)</div>
            <div class="pull-right">*****</div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">结核(TB)</div>
            <div class="pull-right">*****</div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">乙肝(HBsAg)</div>
            <div class="pull-right">*****</div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">梅毒(TP)</div>
            <div class="pull-right">*****</div>
          </div>

          <div class="item clearfix">
            <div class="pull-left">戎肝(HEV)</div>
            <div class="pull-right"></div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">幽门螺旋杆菌抗体(HPAb)</div>
            <div class="pull-right">*****</div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">幽门螺旋杆菌原体(HPAg)</div>
            <div class="pull-right">*****</div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">吗啡(MOR)</div>
            <div class="pull-right"></div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">甲基安非他明(MET)</div>
            <div class="pull-right">*****</div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">大便潜血(FOB)</div>
            <div class="pull-right">*****</div>
          </div>
          <div class="item clearfix">
            <div class="pull-left">尿液分析(URS)</div>
            <div class="pull-right">*****</div>
          </div>
        </div>
      </div>
    </div>


  </div>


</body>

</html>