<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>孕产妇基本档案</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="../../../static/assets/adaptive/adaptive-version2.js"></script>
  <script>
    // 设计图宽度
    window['adaptive'].desinWidth = 750;
    // body 字体大小 会将body字体大小设置为 baseFont / 100 + 'rem'
    window['adaptive'].baseFont = 28;
    window['adaptive'].maxWidth = 750;
    window['adaptive'].init();
  </script>
  <link rel="stylesheet" href="../css/dist.css">
</head>
<body class="bgColor">
<div class="container">
  <div class="item clearfix">
    <div class="pull-left">姓名</div>
    <div class="pull-right">小娜娜</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">档案编号</div>
    <div class="pull-right">85529654325</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">国籍</div>
    <div class="pull-right">男</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">身份民（护照）号</div>
    <div class="pull-right">2017-10-03</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">工作单位</div>
    <div class="pull-right">201705009222</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">户籍类型</div>
    <div class="pull-right">深圳市南山区</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">居住地址</div>
    <div class="pull-right">小娜娜</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">民族</div>
    <div class="pull-right">85529654325</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">居住地到最近到乡级以上卫生机构</div>
    <div class="pull-right">男</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">文化程度</div>
    <div class="pull-right">2017-10-03</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">职业</div>
    <div class="pull-right">201705009222</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">产地休养地</div>
    <div class="pull-right">深圳市南山区</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">丈夫姓名</div>
    <div class="pull-right">小娜娜</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">年龄</div>
    <div class="pull-right">85529654325</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">联系电话</div>
    <div class="pull-right">男</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">文化程度</div>
    <div class="pull-right">2017-10-03</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">职业</div>
    <div class="pull-right">201705009222</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">工作单位</div>
    <div class="pull-right">深圳市南山区</div>
  </div>

</div>





</body>

</html>