<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>通用随访表</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="../../../static/assets/adaptive/adaptive-version2.js"></script>
  <script>
    // 设计图宽度
    window['adaptive'].desinWidth = 750;
    // body 字体大小 会将body字体大小设置为 baseFont / 100 + 'rem'
    window['adaptive'].baseFont = 28;
    window['adaptive'].maxWidth = 750;
    window['adaptive'].init();
  </script>
  <link rel="stylesheet" href="../css/dist.css">
</head>
<body class="bgColor">
<div class="container">
  <div class="item clearfix">
    <div class="pull-left">姓名</div>
    <div class="pull-right">小娜娜</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">档案编号</div>
    <div class="pull-right">85529654325</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">身高（cm）</div>
    <div class="pull-right">男</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">体重（kg）</div>
    <div class="pull-right">2017-10-03</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">体质指数（BMI）（Kg/m²）</div>
    <div class="pull-right">201705009222</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">体温（°C）</div>
    <div class="pull-right">深圳市南山区</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">血压（mmHg）</div>
    <div class="pull-right">小娜娜</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">脉搏（bpm）</div>
    <div class="pull-right">85529654325</div>
  </div>
  <div class="item clearfix">
    <div class="pull-left">血糖（mmol/L）</div>
    <div class="pull-right">男</div>
  </div>

</div>





</body>

</html>