<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>通用随访表</title>
  <link rel="stylesheet" href="../css/dist.css">
</head>
<body>
<div class="container">
  <table class="tb tb-auto tb-border">
    <thead>
    <th colspan="4" class="bgColor text-left">
      通用随访表
    </th>
    </thead>
    <tbody>
    <tr>
      <td class="label text-right bgColor w200">姓名:</td>
      <td class="text-left w630">苏宝宝</td>
      <td class="label text-right bgColor w200">档案编号:</td>
      <td class="text-left w630">8882254556545</td>
    </tr>
    <tr>
      <td class="label text-right bgColor">身高（cm）:</td>
      <td class="text-left">
        8882254556545
      </td>
      <td class="label text-right bgColor">体重（kg）:</td>
      <td class="text-left">
        8882254556545
      </td>
    </tr>
    <tr>
      <td class="label text-right bgColor">体质指数（BMI）（Kg/m²）:</td>
      <td class="text-left">
        8882254556545
      </td>
      <td class="label text-right bgColor">体温（°C）:</td>
      <td class="text-left">
        8882254556545
      </td>
    </tr>
    <tr>
      <td class="label text-right bgColor">血压（mmHg）:</td>
      <td class="text-left">
        8882254556545
      </td>
      <td class="label text-right bgColor">脉搏（bpm）:</td>
      <td class="text-left">
        8882254556545
      </td>
    </tr>
    <tr>
      <td class="label text-right bgColor">血糖（mmol/L）:</td>
      <td class="text-left" colspan="3">
        8882254556545
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>